@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

P{
  margin: 0;
}

/* .calendar{
  background: url('./assets/icon/calendar.png');
  width: 20px;
  height: 30px;
  display: block;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}